.typing-animate {
    width : 0;
    animation: typing 2000ms alternate infinite;
}
@keyframes typing{
    0% { width : 0}
    100% { width : 50%}
}

table { 
    width : 100%;
    font-size: 13px;
}
table tr:nth-child(even){
    background-color: #e9ebff;
}
table tr{
    background: none;
}
table tr th,
table tr td{
    /* border: 1px solid red; */
}
table tr th{
    text-align: left;
}

::-webkit-scrollbar{
    height: 6px;
}