.typing-animate {
    width : 0;
    animation: typing 2000ms alternate infinite;
    color: #6035ff;
}
@keyframes typing{
    0% { width : 0}
    100% { width : 50%}
}

table { 
    width : 100%;
    font-size: 13px;
    overflow-x: scroll !important;
}
table tr:nth-child(even){
    background-color: #f5f5f5;
}
table tr{
    background: none;
}
table thead tr:nth-child(1){
    border-bottom: 1px solid rgb(247, 233, 255);
    border-top: 1px solid rgb(247, 233, 255);
}
table tr th{
    text-align: left;
}

::-webkit-scrollbar{
    height: 6px;
}